body {
    margin: 0;
    background: url(../images/主页背景.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


nav {
    height: 48px;
    background-color: rgb(244, 227, 230);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 30px 0 0;
    margin: 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(107, 102, 103);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* 当鼠标悬停时把链接颜色更改为 #f7f2f2 */
nav ul li a:hover {
    background-color: #f7f2f2;
}

nav ul li .selected {
    background-color: #ddb6c6;
}

nav ul img {
    float: right;
    width: 200px;
}

#main {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-top: 100px;
    color: rgb(232, 160, 201);
    float: left;
}

footer {
    font-size: 90%;
    padding: 15px;
    margin: 0px;
    color: rgb(107, 102, 103);
    background-color: rgb(244, 227, 230);
    position: absolute;
    bottom: 0;
    /* 设置页脚position为absolute之后，再将其bottom值设为0，即可使其处于页面的底部 */
    width: 100%;
    text-align: center;
}